language: node_js
node_js:
- '8'
- 'node'

before_script:
  - npm run start > ganache-unittest-logs.txt & 
  - truffle exec scripts/deployERC820.js
script: 
  - truffle test
deploy:
  provider: npm
  email: carlos.buendia@helena.network
  api_key: $NPM_TOKEN
  on:
    all_branches: true
    tags: true
    node: '8'
    repo: frontier-token-research/pm-helena-contracts
